/*--------------------------------------------------------------------------------------*/
/*---------------------  THALENTIA MOODLE SOCIAL & QUICK BAR ---------------------------*/
/*--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------*/
/*  Moodle Social Bar 2.0:

    By Diego Maté: 
	
       - http://www.thalentia.com
	   
	   - http://www.twitter.com/thalentia
	   
	   - http://www.linkedin.com/diegothalentia 
	                                                                                    */
/*--------------------------------------------------------------------------------------*/


html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, pre, form, fieldset, table, th, tr, td {margin:0; padding:0; text-align: justify;}
img {border:0;}
ol, ul {list-style:none;}
a {text-decoration:none;}
a:hover {text-decoration:none;}

#toolbar_container{
	width:970px;
	position: fixed;
    bottom: 0px;
    left:50%;
	height:36px;
	margin-left:-485px;
}

span.showbar a { 
    display: block;
    width: 50px;
    height: 35px;
    padding: 0;
	margin-left: 920px;
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/barra-social-arriba.png) bottom no-repeat; /* You need to change de path to your Moodle Theme instance*/
}

div#toolbar{
    bottom: 0px;
    right: 0px;
    z-index: 9999; 
    height: 36px;
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/bg-barrasocial.png); /* You need to change de path to your Moodle Theme instance*/

    -moz-border-radius-topleft: 5px;
	-khtml-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-khtml-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	
    -webkit-box-shadow: 0px 0px 6px rgba(67,88,100,0.8);
    -moz-box-shadow: 0px 0px 6px rgba(67,88,100,0.8);
    box-shadow: 0px 0px 6px rgba(67,88,100,0.8);
	
    border-top: 1px solid #eee;
    border-left: 1px solid #eee; 
    border-right: 1px solid #eee;  
}

div#toolbar {
    width: 100%;
    margin: 0px auto; 
    left: 0px;
    display: none;
}

div#toolbarbut {
    position: absolute;
    width:970px;
    height: 36px;
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/bg-barrasocial.png); /* You need to change de path to your Moodle Theme instance*/
	left:0px;
    z-index: 9999; 
    display:block;
	font-size:11px;
	text-align:left;
 	color:#27363f;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee; 
    border-right: 1px solid #eee; 

    -moz-border-radius-topleft: 5px;
	-khtml-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-khtml-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	
    -webkit-box-shadow: 0px 0px 6px rgba(67,88,100,0.8);
    -moz-box-shadow: 0px 0px 6px rgba(67,88,100,0.8);
    box-shadow: 0px 0px 6px rgba(67,88,100,0.8);
	
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

span.login{
 	color:#ffffff;
	line-height:330%;
	position:relative;
	float:left;
	margin-left:10px;
}

div#toolbarbut a{
 	color:#aaaaaa;
}

div#toolbarbut a:hover{
 	color:#ffffff;
}

div#toolbarbut img{
    float:left;
}

.leftside {
    float: left;
}

.rightside {
    float: right;
}

ul#social li {
    display: inline;
    margin:0;
    padding:0;
}

a.rss {
    display: inline-block;
    width: 104px;
    height: 35px;
    margin-left: 5px;
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/rss.png) left top no-repeat; /* You need to change de path to your Moodle Theme instance*/
    cursor:pointer;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

a.facebook, a.twitter, a.linkedin, a.google{
    display: inline-block;
    width: 40px;
    height: 35px;        
    margin-top: 1px;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

a.rss:hover, a.facebook:hover, a.twitter:hover, a.linkedin:hover, a.google:hover{
    opacity: 1;
}

a.facebook {
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/facebook.png) no-repeat; /* You need to change de path to your Moodle Theme instance*/
}

a.twitter {
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/twitter.png) no-repeat; /* You need to change de path to your Moodle Theme instance*/
}

a.linkedin {
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/linkedin.png) no-repeat; /* You need to change de path to your Moodle Theme instance*/
}

a.google {
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/google.png) no-repeat; /* You need to change de path to your Moodle Theme instance*/
}

.tip {
    position: absolute; 
    top: -75px;
    width: 250px;
    height: 78px;
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/tip.png) no-repeat; /* You need to change de path to your Moodle Theme instance*/
    float: left;
    display: none;
    font-size:12px;
    color:#3a4f5b;
}

#tipfacebook {
    left: 75px; 
}

#tiptwitter {
    left: 120px; 
}

#tiplinkedin {
    left: 162px; 
}

#tipgoogle {
    left: 202px; 
}

.tip ul {
    padding: 22px 0 0 25px;
}

span.downarr { 
    float: right;
    border-left: 1px solid #a4a4a4;
}

span.downarr a {
    display: block;
    width: 36px;
    height: 26px;
    padding: 25px 0 0 10px;
    background: url(http://127.0.0.1/xampp/www/moodle/theme/darkb/layout/thalentia_moodlebar/images/barra-social-abajo.png) no-repeat 5px 7px; /* You need to change de path to your Moodle Theme instance*/
}

span.menu_title {
    background: #e4e4e4;
    border-left: 1px solid #a4a4a4;
    padding: 10px;
    padding-left: 55px;
    padding-right:55px;
}

span.menu_title a {
    font-size: 16px;
    line-height: 34px;
    color: #003657;
    opacity:0.75;
}

span.menu_title a:hover {
    color: #6f6e6e;
}

.quickmenu {
    position: absolute; 
    top: -251px;
    right: 45px;
    width: 191px;
    height: 250px;
    background: #e4e4e4;
    border-top: 1px solid #a4a4a4;
    border-left: 1px solid #a4a4a4; 
    border-right: 1px solid #a4a4a4;

    -moz-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    -khtml-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    -webkit-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;

    display: none; 
}

.quickmenu ul {
    padding-top: 20px;
}

.quickmenu ul li {
    border-bottom: 1px dotted #989898;    
    padding: 8px 0px;
    margin: 0 15px 0 15px;
    list-style:none;
}

.quickmenu ul li a {
    font-size: 11px;
    color: #304b5c;
    display: block;
    text-decoration:none;
}

.quickmenu ul li a:hover {
    color: #6f6e6e;
}