@charset "UTF-8";
/* ____________________________________________________________________ body and header layout */
html {
	padding: 0px;
	margin: 0px;
}

body {
	background:#ffffff url([[pix:theme|bggrad]]) repeat-x 0px 56px;
	font-family: "Avant Garde",Tahoma,Arial,Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
}
div#header, div#page-header {
	position: relative;
	width: 100%;
	height: 56px;
	text-align: left;
}
div#coursebanner {
	height: 56px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 400px;
	z-index:1001;	
}
div#logo {
	position: absolute;
	top: 8px;
	right: 20px;
}
div#breadcrumbs, div#loginDetails, div.breadcrumb {
	font-size: 10px;	
	color:white;
	text-align:left;
}
div#breadcrumbs, body.pagelayout-report div.navbar {
	position: relative;
	color: #123351;
	display: block;
	padding: 4px 0px 4px 20px;
	border:none;
	font-weight: normal;
}
body.pagelayout-report div#page-header {
	padding-top: 56px;
	height: auto;
}
div#breadcrumbs ul {  
	margin: 0px;
	padding: 0px;
}
div#breadcrumbs ul li {
	list-style:none !important;
	display: inline;	
}

div#loginDetails, div.headermenu {
	position: absolute;
	top: 34px;
	left: 20px;
	z-index:12;
	color:white;
	margin:0px;
}
div#header div#buttonContainer, div#page-header div#buttonContainer {
	position: absolute;
	top: 58px;
	right: 20px;
	width: auto;
	z-index:228;
	text-align:right;
}
div#header div#buttonContainer table td, div#page-header div#buttonContainer table td {
	padding: 0px;	
}
div#customBanner{
	position: absolute;
	z-index:3982;
	right: 0px;
	top: 0px;
	width: 500px;
	height: 58px;	
}

/* ____________________________________________________________________  page layouts */
div#page-content {
	width:100%;
	margin: auto;
	text-align: left;
	margin-top: 1px;
	padding-top: 22px;
	background: url([[pix:theme|bggrad]]) top repeat-x;
}
div#region-main div#contentCol, div#report-main-content div.region-content {
	padding: 22px !important;
	margin:auto;
}
body#page-course-view-weeks div#region-main div#contentCol, body#page-course-view-topics div#region-main div#contentCol  {
	padding: 0px !important;
	border:none !important;
	background: none !important;
}
div#report-region-wrap {
	float:right;
	left:auto !important;
		
}
div#region-main {
	margin:0px !important;	
	padding: 0px !important;
	overflow: visible !important;
}
.region-content {
	overflow:visible !important;
	padding:0px !important;		
}

div#region-post,div#region-pre, div#report-region-pre {	
	width:200px;
	float:right !important;
	left:auto;
	position: static !important;
	overflow: visible !important;
	margin:0px 22px 0px 0px;
}
div#page-footer {
	height: 300px;
	text-align: center;
	color: #ffffff;
	padding-top:22px;
	clear:both;
}	
div#page-footer div.logininfo {padding:11px;}

/* conditions - adjusting the margins for the various layouts - VERY important css, even the order its in */

body.both-pre-post 	div#region-main div#contentCol	{margin:0px 466px 0px 22px;} /* for 3 col layouts */

body.side-pre-only 	div#region-main div#contentCol,
body.side-post-only div#region-main div#contentCol,
body.pagelayout-report  div#report-main-content div.region-content 	{margin: 0px 244px 0px 22px;} /* for 2 col layouts */
body.side-pre-only div#region-pre {margin: 0px 0px 0px 22px;}

body.content-only 	div#region-main div#contentCol	{margin:0px 22px 0px 22px;} /* for 1 col layouts */

/* fix issues with css clear, the content is conflicting with the floating column for the boxes */

.clearfix:after {clear: left;}
.clearer {clear:left; padding-top:10px;}
.clearfloat,#page-site-index .clearfloat {
	clear:left;
}	


/* ____________________________________________________________________  custom menu */
div#custommenu {
	border-right:none;
	border-left:none;	
	border-top:none;
	border-bottom: 1px solid #003768;
}
div.custom_menu_submenu {
	z-index: 84;	
}
div.custom_menu_submenu div.yui3-menu-content {
	background:none !important;	
	padding: 0px !important;
	border-collapse:collapse !important;
}
div.yui3-menu-horizontal, 
div.yui3-menu-content, 
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label, 
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {
	border:none !important;	
	border-width:0px !important;
}
div.yui3-menu-content ul {
	padding: 0px 0px 0px 20px !important;	
}
div.yui3-menu-content ul li {
	border-color: #cccccc !important;
	border-top:none;
	border-bottom:none;
	border-right:none;	
}
div.yui3-menu-content ul > li:last-child {
	border-right: 1px solid #cccccc !important;
}
div.custom_menu_submenu ul {
	padding: 0px;	
}
div.custom_menu_submenu ul li {
	border-bottom: 1px solid #cccccc !important;
	border-left:none !important;
	border-right:none !important;	
}
div.custom_menu_submenu div.yui3-menu-content ul {
	padding: 0px 0px 0px 0px !important;	
}
div.custom_menu_submenu div.yui3-menu-content ul > li:last-child {
	border-right:none !important;	
}
.yui3-menuitem-active a {
	background: #003768 !important;
	color: white !important;	
}
/* ____________________________________________________________________  blocks */
.block {
	margin:0px 0px 11px 0px;
	width:200px;
	border:none;
	font-size: 11px;
}
.block_action img {
	margin: 8px 3px auto auto;	
}
.block div.ui-state-default h2 {
	margin: 0px auto 2px 5px;
}
.block div.ui-state-default {
	border-top:none;
	border-right:none;
	border-left:none;
}
.block div.ui-widget-content {
	margin-top: -2px;
}	
div.block_course_summary div.content {
	border:none;
	background:none;	
}
div.block li.depth_2 p {
	padding: 0px;	
}
div.block li.depth_3 p {
	padding: 1px 0px 0px 0px;	
}
div.block ul.unlist li {
	margin-top: 2px;	
}
div.block li.contains_branch p.branch {
	background-position: 0px 4px;	
}
.block_navigation .block_tree .tree_item.branch {
	background-position: 0px 2px;	
}
.block_settings .block_tree .tree_item.branch {
	background-position: 0px 4px;	
}

.block_online_users div.user img {
	margin-top: 2px;	
}
div.block ul.unlist img {
	margin-top: -4px;	
}
div.block form.loginform label {
	display: block;	
	padding-left:0px;
}
div.block form.loginform input {
	margin: 1px 0px 5px 0px;	
	
}
/* ____________________________________________________________________  dock */

div#dock.dock.dock_left_vertical {
	left:auto; 
	right:0px;
	border-left: 1px solid #CFDAE3;
}
body.has_dock {
	margin:0px 30px 0px 0px;
}
div#dockeditempanel {
	left:-200px;
} /* makes the assumption that the width of the dock panels are 200px */

div#dock.dock.dock_left_vertical { 
	border-right:0px !important;
	/*background-color:#fafcf2;*/
}
div#dock div.dockeditem_container {}
div#dock div.dockedtitle {
	border-top: none;	
	border-bottom: 1px solid #CFDAE3;
	color: #0066cc;
	border-left:none !important;
	border-right:none !important;	
	/*background-color:#f8f9d8;*/
}
div#dock div.dockeditempanel_content {
	border: 1px solid #CFDAE3;
}
div#dock div.dockeditempanel_hd {
	border: 1px solid #CFDAE3;
	border-bottom:none;
	/*background-color:#f8f9d8;*/
}
div.dockeditempanel_hd{
	text-align:left !important;
	padding: 5px !important;	
}
div.dockeditempanel_hd div.commands {
	float:right;
	margin-top:-2px;	
}
div.dockeditempanel_content {
	border:none !important;	
	font-size:12px;
}
div#dock li.listentry {
	list-style:none;
}

/* ____________________________________________________________________  IE fixes */

/* ____________________________________ the blocks */
body.ie7 .block {
	margin:0px 0px 11px 0px;
	width:200px;
}
body.ie7 div#region-post, body.ie7 div#region-pre {
	padding: 11px 0px 0px 0px;
}
body.ie7.side-pre-only div#region-pre {
	margin: -11px auto 0px auto !important;
}
body.ie7 #dockeditempanel .dockeditempanel_hd .commands {
	margin-top: -17px;
}
body.ie7 div.forumpost div.topic {
	min-height: 41px;
}
body.ie7 li.activity {
	margin-top: 3px !important;	
}
body.ie7 li.activity img {
	margin-top: 0px !important;	
	line-height: 19px;
}
body.ie7 div.block ul.unlist img {
	margin-top: -1px !important;	
}
body.ie7 div.block ul.unlist li {
	margin-top: 2px !important;	
}

/* ____________________________________________________________________  the mobile css */

body.mobileView div#region-post, body.mobileView div#region-pre, body.mobileView div#report-region-pre {	
	width:auto !important;
	float:none !important;
	position: relative !important;
	margin:0px !important;
}
body.mobileView #page-content { min-width: 300px; }
body.mobileView #logo { display: none; }
body.mobileView.both-pre-post div#region-main div#contentCol	{margin:0px !important;} /* for 3 col layouts */

body.mobileView.side-pre-only div#region-main div#contentCol,
body.mobileView.side-post-only div#region-main div#contentCol,
body.mobileView.pagelayout-report div#report-main-content div.region-content 	{margin: 0px !important;} /* for 2 col layouts */

body.mobileView.side-pre-only div#region-pre {margin: 0px !important;}
body.mobileView.content-only div#region-main div#contentCol	{margin:0px !important;} /* for 1 col layouts */
body.mobileView #page-content #region-pre {left: auto;}
body.mobileView .block { width: auto; height: auto; }
body.mobileView #region-pre .region-content { margin-top: 11px !important; }
body.mobileView #buttonContainer {
	top: 81px !important;
}