/* Maintenance Mode (Upgrade) */

body.pagelayout-maintenance .generalbox {
	border: 0;
}

body.pagelayout-maintenance #page-header {
	border: 0;
}

body.pagelayout-maintenance .headermenu {
	color: #1D3142;
}
	
body.pagelayout-maintenance #page-header .headermenu a, body.pagelayout-maintenance #page-header .headermenu a:visited {
	color: #427EB4;
	text-decoration: none;
}

body.pagelayout-maintenance #page-header .headermenu a:hover, body.pagelayout-maintenance #page-header.headermenu a:active {
	color: #36A0FF;
}


/* Admin pages */
/* These rules generally follow the order of admin pages when using the Site-Administration block */

body#page-content.path-admin-roles #region-main .generalbox {
	margin: 0;
}

body#page-admin-index.content-only #page-content #region-main .region-content {
	margin-left: 1px;
}

#page-admin-modules .no-overflow > .generaltable, #page-admin-blocks .no-overflow > .generaltable {
	margin-left: auto;
	margin-right: auto;
}

#page-admin-roles-manage .boxaligncenter, #page-admin-roles-allow .boxaligncenter {
	margin-right: 1px;
}

#page-admin-roles-allow .generalbox, #page-admin-roles-assign .generalbox, #page-admin-plagiarism-turnitin-settings .generalbox {
	margin: 10px;
}

#page-admin-report-capability-index .generalbox, #page-admin-auth-ldap .generalbox {
	border: 0;
	padding-left: 3px;
}

#page-admin-report-capability-index .generalbox h2, #page-admin-auth-ldap .generalbox h2 {
	margin-left: -3px;
}

#page-admin-auth-ldap form h2.main {
	margin-right: -2px;
}

#page-admin-auth-ldap form table h2.main {
	margin-right: -8px;
	margin-left: -09px;
}

.path-admin-setting #adminsettings, .path-admin #adminsettings {
	border-left: 1px solid #D2D9E0;
	border-right: 1px solid #D2D9E0;
	margin-bottom: 10px;
}


#adminsettings fieldset {
	margin: 0;
	border: 0;
}


#adminsettings .form-item .form-label .form-shortname {
	word-wrap: break-word;
	color: #717883;
}

#page-admin-auth-manual #page-content #region-main .region-content .generalbox {
	border: 0;
}

#page-admin-auth-manual form h2.main {
	margin-left: -2px;
	margin-right: -2px;
}

#page-admin-auth-manual form table h2.main {
	margin-left: -9px;
	margin-right: -8px;
}

#page-admin-auth-nologin #page-content #region-main .region-content .generalbox {
	border: 0;
}

#page-admin-auth-nologin form h2.main {
	margin-left: -2px;
	margin-right: -2px;
}

#page-admin-setting-manageenrols #page-content #region-main .region-content .generalbox {
	border: 0;
	margin: 0;
}

#page-admin-setting-manageenrols #region-main table {
	margin-left: auto;
	margin-right: auto;
}

#page-admin-filters #page-content #region-main .region-content table {
	border-right: 1px solid #D2D9E0;
}

#page-admin-portfolio #page-content #region-main .region-content .generalbox {
	border: 0;
	margin: 0 0 0 10px;
}

#page-admin-repository #page-content #region-main .region-content .generalbox {
	border: 0;
	margin: 0 0 0 10px;
}

.path-admin-plagiarism-turnitin #region-main .region-content .generalbox {
	border: 0;
	margin: 0;
}

#plagiarismdesc {
	border: 0;
}

#adminthemeselector {
	margin-left: auto;
	margin-right: auto;
}

#adminthemeselector .selectedtheme td.c0, #adminthemeselector .selectedlegacytheme td.c0 {
	border: 1px solid #6C9CC7;
	border-right: 0 none;
}

#adminthemeselector .selectedtheme td.c1, #adminthemeselector .selectedlegacytheme td.c1 {
	border: 1px solid #6C9CC7;
	border-left: 0 none;
}

#page-admin-report-backups-index #page-content #region-main .region-content .generalbox {
	border: 0;
}

#page-admin-report-configlog-index #page-content #region-main .region-content table {
	border-right: 1px solid #D2D9E0;
}

#page-admin-report-courseoverview-index #page-content #region-main .region-content tr {
	background-color: transparent;
}

#page-admin-course-report-stats-index #page-content #region-main .region-content tr {
	background-color: transparent;
}

#page-admin-webservice-testclient #page-content #region-main .region-content .box {
	margin: 10px;
}

#page-admin-purgecaches #notice {
	border: 0;
}

#page-admin-report-unittest-index #page-content #region-main .region-content .box {
	border: 0;
}

#page-admin-report-unittest-index #page-content #region-main .region-content h2.main {
	margin-left: -2px;
	margin-right: -2px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content .generalbox {
	border: 0;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content hr {
	margin-left: 1px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content .boxwidthwide {
	margin: 1px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content .boxwidthwide h2.main {
	margin-left: -3px;
	margin-right: -3px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content .codecoveragebox {
	border: 1px solid #D2D9E0;
	margin: 10px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content hr {
	margin-left: 1px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content .pass {
	margin-left: 1px;
	margin-right: 1px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content div.fail {
	margin-left: 1px;
	margin-right: 1px;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content div.fail {
	margin-left: 1px;
	margin-right: 1px;
	border-top: 1px solid #AA0000;
	border-bottom: 1px solid #AA0000;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content div.fail b.fail {
	color: #AA0000;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content .pass b.pass {
	color: #00AA00;
}

#page-admin-registration-index #page-content #region-main .region-content .r0 {
	background: none repeat scroll 0 0 transparent;
}

#page-admin-setting-htmlsettings #region-main .region-content .generaltable {
	border: 1px solid #D2D9E0;
}

#page-admin-filter-manage #region-main .region-content form {
	padding-left: 3px;
}

#page-files-index #region-main .region-content .box {
	margin: 10px;
}

#page-question-edit #region-main .region-content h2.main {
	margin-left: -2px;
}

#page-admin-environment #region-main .region-content .generalbox {
	margin: 10px;
}

.reportlink {
	padding-right: 3px;
}

.phpinfo {
	margin-top: 10px;
}

.phpinfo .e {
	background-color: #6C9CC7;
}

.phpinfo .h {
	background-color: #4E7BA3;
}


#page-admin-phpinfo #region-main .region-content h2 {
	border: 0;
}

#page-admin-phpinfo hr {
	margin-left: 1px;
}

#page-admin-registration-index #region-main .region-content .generaltable {
	border-right: 1px solid #D2D9E0;
}

.environmenttable {
	border-right: 1px solid #D2D9E0;
}

#page-admin-roles-usersroles #page-content #region-main .region-content .generalbox {
	margin: 10px;
}

#page-admin-roles-permissions #page-content #region-main .region-content .capbox {
	border-left: 1px solid #D2D9E0;
}

.webservicestokenui {
	padding: 0;
}

/* mass sub-push! -need a cleaner way! */
.notifyproblem, .profileeditor, .copyright, h3.main, .notifysuccess, .categorypicker, #movecourses, .urlselect, .filtersettingnote, .singlebutton, .backlink, choosecategory, .boxaligncenter, #displayoptions, .logselectform, .performanceinfo, h4.main {
	padding-left: 3px;
}

/* the center is hard-coded, can't override it.
#page-admin-auth-nologin #page-content #region-main .region-content p {
	text-align: left;
	padding-left: 10px;
}
*/
