/* General */

a {
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 0 1px 0 #FFFFFF;
}

input[type=submit] {
	box-shadow: 1px 1px 1px #FBFCFD inset;
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-image: -moz-linear-gradient(top,  #FBFCFD, #D2D9E0); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FBFCFD),color-stop(1, #D2D9E0)); 
	background-image: -webkit-linear-gradient(#0A5E91, #6C9CC7); 
	background-image: linear-gradient(top, #0A5E91, #6C9CC7);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0A5E91', EndColorStr='#6C9CC7');
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

input[type=submit]:hover {
	background-image: -moz-linear-gradient(top, #FBFCFD, #B8CDDE); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FBFCFD),color-stop(1, #B8CDDE)); 
 	background-image: -webkit-linear-gradient(#FBFCFD, #B8CDDE); 
	background-image: linear-gradient(top, #FBFCFD, #B8CDDE);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FBFCFD', EndColorStr='#B8CDDE');
}

input[type=submit]:active {
	background-image: -moz-linear-gradient(top, #B8CDDE, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B8CDDE),color-stop(1, #FBFCFD)); 
	background-image: -webkit-linear-gradient(#B8CDDE, #FBFCFD); 
	background-image: linear-gradient(top, #B8CDDE, #FBFCFD);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B8CDDE', EndColorStr='#FBFCFD');
}

input[type=button] {
	box-shadow: 1px 1px 1px #FBFCFD inset;
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-image: -moz-linear-gradient(top,  #FBFCFD, #D2D9E0); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FBFCFD),color-stop(1, #D2D9E0)); 
	background-image: -webkit-linear-gradient(#0A5E91, #6C9CC7); 
	background-image: linear-gradient(top, #0A5E91, #6C9CC7);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0A5E91', EndColorStr='#6C9CC7');
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

input[type=button]:hover {
	background-image: -moz-linear-gradient(top, #FBFCFD, #B8CDDE); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FBFCFD),color-stop(1, #B8CDDE)); 
 	background-image: -webkit-linear-gradient(#FBFCFD, #B8CDDE); 
	background-image: linear-gradient(top, #FBFCFD, #B8CDDE);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FBFCFD', EndColorStr='#B8CDDE');
}

input[type=button]:active {
	background-image: -moz-linear-gradient(top, #B8CDDE, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B8CDDE),color-stop(1, #FBFCFD)); 
	background-image: -webkit-linear-gradient(#B8CDDE, #FBFCFD); 
	background-image: linear-gradient(top, #B8CDDE, #FBFCFD);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B8CDDE', EndColorStr='#FBFCFD');
}

button {
	box-shadow: 1px 1px 1px #FBFCFD inset;
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-image: -moz-linear-gradient(top,  #FBFCFD, #D2D9E0); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FBFCFD),color-stop(1, #D2D9E0)); 
	background-image: -webkit-linear-gradient(#0A5E91, #6C9CC7); 
	background-image: linear-gradient(top, #0A5E91, #6C9CC7);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0A5E91', EndColorStr='#6C9CC7');
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

button:hover {
	background-image: -moz-linear-gradient(top, #FBFCFD, #B8CDDE); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FBFCFD),color-stop(1, #B8CDDE)); 
 	background-image: -webkit-linear-gradient(#FBFCFD, #B8CDDE); 
	background-image: linear-gradient(top, #FBFCFD, #B8CDDE);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FBFCFD', EndColorStr='#B8CDDE');
}

button:active {
	background-image: -moz-linear-gradient(top, #B8CDDE, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B8CDDE),color-stop(1, #FBFCFD)); 
	background-image: -webkit-linear-gradient(#B8CDDE, #FBFCFD); 
	background-image: linear-gradient(top, #B8CDDE, #FBFCFD);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B8CDDE', EndColorStr='#FBFCFD');
}

h2 {
	box-shadow: 0px 1px 0px #FBFCFD;
	-moz-box-shadow: 0px 1px 0px #FBFCFD;
	-webkit-box-shadow: 0px 1px 0px #FBFCFD;
}

hr {
	box-shadow: 0px 1px 0px #FBFCFD;
	-moz-box-shadow: 0px 1px 0px #FBFCFD;
	-webkit-box-shadow: 0px 1px 0px #FBFCFD;
}

/* Layouts */

#page-content-wrapper {
	-moz-box-shadow: 0px 10px 10px #444444; 
	-webkit-box-shadow: 0px 10px 10px #444444; 
        box-shadow: 0px 10px 10px #444444; 
}

#region-pre, #report-region-pre {
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 0px;
}

#region-pre .region-content, #report-region-pre .region-content, .pagelayout-report #page-content {
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 0px;
}

#region-post {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 15px;
}

#region-post .region-content {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 15px;
}





.block.hidden {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.block-region .generalbox,
.box,
.generalboxcontent,
.informationbox,
.informationboxcontent {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
	box-shadow: 1px 1px 1px #FBFCFD inset;
}

.generaltabselected,
.generaltab, .generaltabinactive,
.glossarycategoryheader,
.glossaryformatheader {
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/* Header */

.headermenu {
	text-shadow: 1px 1px 0 #484D55;
}

body.pagelayout-maintenance .headermenu {
	text-shadow: none;
}

h1.headermain {
	text-shadow: -1px -1px 0 #6C9CC7, 1px 1px 1px #1D3142, 1px 1px 4px #234B6F; /* outlay */
	text-shadow: 1px 1px 0 #6C9CC7; /* inlay */

}

body.pagelayout-maintenance h1.headermain {
	text-shadow: 0 1px 0 #FFFFFF;
}

body.pagelayout-maintenance .headermenu a {
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	text-shadow: none;
}

#custommenu a {
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	text-shadow: none;
}

.headermenu a {
	-moz-text-shadow: 1px 1px 0 #484D55;
	-webkit-text-shadow: 1px 1px 0 #484D55;
	text-shadow: 1px 1px 0 #484D55;
}

/* Content Main */

.forumpost {
	background-image: -moz-linear-gradient(top, #F4F6F8, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F6F8),color-stop(1, #FBFCFD)); 
 	background-image: -webkit-linear-gradient(#F4F6F8, #FBFCFD); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F6F8', EndColorStr='#FBFCFD');
	box-shadow: 1px 1px 1px #FBFCFD inset;
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
}

.forumpost .header {
	box-shadow: 0px 1px 0px #FBFCFD;
	-moz-box-shadow: 0px 1px 0px #FBFCFD;
	-webkit-box-shadow: 0px 1px 0px #FBFCFD;
}

.path-calendar .maincalendar .eventlist .event {
	-moz-box-shadow: 1px 1px #FFFFFF inset;
	-webkit-box-shadow: 1px 1px #FFFFFF inset;
	box-shadow: 1px 1px #FFFFFF inset;
}

.name {
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

.calendartable th, .calendartable td {
	-webkit-box-shadow: 1px 1px #FFFFFF inset;
	-moz-box-shadow: 1px 1px #FFFFFF inset;
	box-shadow: 1px 1px #FFFFFF inset;
}


.calendartable .hasevent {
	-mox-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.calendar-event-panel .yui3-overlay-content {
	-moz-box-shadow: 0px 2px 4px #444444, 1px 1px #FFFFFF inset;
	-webkit-box-shadow: 0px 2px 4px #444444, 1px 1px #FFFFFF inset;
	box-shadow: 0px 2px 4px #444444, 1px 1px #FFFFFF inset;
}

.course-content ul.topics li.section {
	background-image: -moz-linear-gradient(top, #F4F6F8, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F6F8),color-stop(1, #FBFCFD)); 
 	background-image: -webkit-linear-gradient(#F4F6F8, #FBFCFD); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F6F8', EndColorStr='#FBFCFD');
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
	box-shadow: 1px 1px 1px #FBFCFD inset;
}

.course-content ul.weeks li.section {
	background-image: -moz-linear-gradient(top, #F4F6F8, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F6F8),color-stop(1, #FBFCFD)); 
 	background-image: -webkit-linear-gradient(#F4F6F8, #FBFCFD); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F6F8', EndColorStr='#FBFCFD');
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
	box-shadow: 1px 1px 1px #FBFCFD inset;
}

#assignform table {
	background-image: -moz-linear-gradient(top, #F4F6F8, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F6F8),color-stop(1, #FBFCFD)); 
 	background-image: -webkit-linear-gradient(#F4F6F8, #FBFCFD); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F6F8', EndColorStr='#FBFCFD');
}

.tabtree {
	-moz-box-shadow: 1px 0 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 0 1px #FBFCFD inset;
	box-shadow: 1px 0 1px #FBFCFD inset;
}

.tabtree li {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-box-shadow: 1px 1px 1px #FBFCFD inset;
	-webkit-box-shadow: 1px 1px 1px #FBFCFD inset;
	box-shadow: 1px 1px 1px #FBFCFD inset;
	background-image: -moz-linear-gradient(top,  #E5E9ED, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E5E9ED),color-stop(1, #FBFCFD)); 
 	background-image: -webkit-linear-gradient(#E5E9ED, #FBFCFD); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E5E9ED', EndColorStr='#FBFCFD');
}

.tabtree li.here {
	background-image: -moz-linear-gradient(top, #F4F6F8, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F6F8),color-stop(1, #FBFCFD)); 
 	background-image: -webkit-linear-gradient(#F4F6F8, #FBFCFD); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F6F8', EndColorStr='#FBFCFD');
}

.mform fieldset, fieldset {
	background-image: -moz-linear-gradient(top, #F4F6F8, #FBFCFD); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F6F8),color-stop(1, #FBFCFD)); 
 	background-image: -webkit-linear-gradient(#F4F6F8, #FBFCFD); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F6F8', EndColorStr='#FBFCFD');
}

/* Footer */

#page-footer a {
	-moz-text-shadow: 0 1px 0 #484D55;
	-webkit-text-shadow: 0 -1px 0 #484D55;
	text-shadow: 0 1px 0 #484D55;
}

/* Dock */

#dock {
	-moz-box-shadow: 0px 0px 4px #1D3142; 
	-webkit-box-shadow: 0px 0px 4px #1D3142; 
        box-shadow: 0px 0px 4px #1D3142; 
}

#dockeditempanel .dockeditempanel_content {
	-moz-box-shadow: 1px 1px #FFFFFF inset;
	-webkit-box-shadow: 1px 1px #FFFFFF inset;
	box-shadow: 1px 1px #FFFFFF inset;
}

#dockeditempanel {
	-moz-box-shadow: 4px 1px 4px #1D3142;
	-webkit-box-shadow: 4px 1px 4px #1D3142;
	box-shadow: 4px 1px 4px #1D3142;
}

/* Disables and Overrides */

.course-content .headingblock {
	box-shadow: 0;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
}

.mform fieldset.hidden, fieldset.fgroup {
	background-image: none;
}

#notice {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

#page-admin-langimport .generalbox {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;	
}

fieldset.invisiblefieldset, #updateform fieldset {
	background-image: none;
}

fieldset .fitem .felement {
	background-image: none;
}

#settingsnav {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#adminsettings fieldset {
	background-image: none;
}

#plagiarismdesc {
	background-image: none;
}

#page-admin-report-unittest-dbtest #page-content #region-main .region-content .fail {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.course-content li#section-0 {
	background-image: none;
}

#page-admin-roles-check #page-content #region-main .region-content .boxwidthwide {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.webservicestokenui {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
